html
    head
        link(rel="stylesheet",href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css")
        title Книги в библиотеке
        
    body
        h1 Список книг
        span(id='lblUser')

        form(action='/books', method='GET')
            span(id='lblFilter') #{filter}
            span #{filter}
            p
            | Фильтр по названию: 
            input(type='text', name='name', value='')
            input(type='submit', value='Применить')
            
        table(style='width:100%', border='1', role="grid")
            thead
                tr
                th Id
                th Автор
                th Книга
            tbody
            each book in data
                tr
                    td #{book.id}
                    td #{book.author}
                    td #{book.book}
        h1 Добавить книгу
        form(action='addbook', method='POST')
            <select id="author" name="author">
                <option value="1">Брайан Керниган</option>
                <option value="2">Деннис Ритчи</option>
            </select>
            input(type='text', name='bookname', value='')
            input(type='submit', value='Добавить')

        script.
            var f = document.getElementById('lblFilter');
            f.innerHTML ='<b>#{filter}</b>';
            
            var f = document.getElementById('lblUser');
            const userId = ('; '+document.cookie).split(`; userId=`).pop().split(';')[0];
            f.innerHTML = userId;
            